{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lnkruby.svg'%}">
    </a>
    <h1>Welcome to RouteCode Beta</h1>
    <p>a tool for checking the amount of crimes near a set postcode</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-python"> Start</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
     An entry for Young Rewired State Festival of Code 2015
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this app works</h3>
   
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
      </ul>
    </div>
  </div> <!-- row -->
</div>
{% endblock %}
